
<!-- 左侧导航栏 -->

<div class="leftNav">
	<div class="logoBox">
		<img src="http://tp-app.oss-cn-hangzhou.aliyuncs.com/ios/logo_white.png" alt="">
		<span>太仆汽车</span>
	</div>


	<div class="nav-box">
		<a href="/pages/index"  class="block nav-each index"><i class="iconfont icon-index"></i>首页</a>
		<a href="/pages/order"  class="block nav-each order"><i class="iconfont icon-order"></i>洗车订单</a>
		<a href="/pages/system"  class="block nav-each system"><i class="iconfont icon-system"></i>系统管理</a>
		<a href="/pages/roles"  class="block nav-each roles"><i class="iconfont icon-roles"></i>角色管理</a>
		<a href="/pages/admin"  class="block nav-each admin"><i class="iconfont icon-admin"></i>员工列表</a>
		<a href="/pages/user"  class="block nav-each user"><i class="iconfont icon-user"></i>洗车用户</a>
		<a href="/pages/refund"  class="block nav-each refund"><i class="iconfont icon-refund"></i>洗车退款</a>
		<a href="/pages/upload"  class="block nav-each upload"><i class="iconfont icon-upload"></i>文件管理</a>

		<!-- <a v-for="menu in menuPer" :href="menu.url"  :class="menu.class" class="block nav-each"><i :class="'icon-'+ menu.class" class="iconfont"></i>{{menu.name}}</a> -->
	</div>
</div>