.el-carousel__item {
  text-align: center;
  display: block !important;
}
.el-carousel__item img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
