[v-cloak] {
  display: none;
}
.box-card {
  margin-top: 10px;
}
.first-card {
  margin-top: 60px;
}
.rightButton {
  float: right;
}
.inTableCell .rightButton {
  flex: 1;
  text-align: right;
}
.inTableCell .leftButton {
  flex: 1;
  text-align: left;
}
.inTableCell {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cdr-picture {
  height: .390625rem;
  width: .390625rem;
}
.el-dialog__body img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.cdrPictureRightButton {
  line-height: 100%;
}
.includeBriefCarousel {
  height: .78125rem;
}
.briefCarousel {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.propertyRemarkEdit {
  margin: 0 auto;
  text-align: center;
}
.propertyRemark {
  margin-bottom: .078125rem;
}
.uploadCarouselButton .inElUpload {
  margin: .078125rem .078125rem .015625rem 0;
}
.uploadTip {
  color: red;
  font-size: 10px;
}
.uploadDialogFooter {
  margin-top: .078125rem;
  text-align: right;
}
