[v-cloak] {
  display: none;
}
.box-card {
  margin-top: 10px;
}
.first-card {
  margin-top: 60px;
}
.rightButton {
  float: right;
}
.cdr-picture {
  height: .390625rem;
  width: .390625rem;
}
.el-dialog__body img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.cdrPictureRightButton {
  line-height: 100%;
}
