body {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
::-webkit-scrollbar {
  color: transparent;
}
[v-cloak] {
  display: none;
}
#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.leftNav {
  background: #414E62;
  width: 1.25rem;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.leftNav .logoBox {
  position: relative;
  top: 0;
  z-index: 99;
  width: 1.148438rem;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #E3EBF2;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
}
.leftNav .logoBox img {
  max-width: 70%;
  vertical-align: middle;
}
.leftNav .nav-box {
  height: 100vh;
  padding: 0.15625rem 0 0.46875rem;
  box-sizing: border-box;
  overflow-y: scroll;
}
.leftNav .nav-box .nav-each {
  width: 100%;
  height: 30px;
  padding: 0 0.15625rem;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
  margin: 0 auto 10px;
  color: #fff;
}
.leftNav .nav-box .nav-each.active {
  background: #2981FF;
}
.leftNav .nav-box .nav-each .iconfont {
  font-size: 12px;
  margin-right: 8px;
}
.leftNav .logout {
  position: absolute;
  bottom: 55px;
  width: 100%;
  text-align: center;
  color: #3E3F41;
  font-size: 12px;
}
.rightSide {
  width: 8.75rem;
  height: 100vh;
  margin-left: 1.25rem;
  box-sizing: border-box;
}
.rightSide .topBox {
  width: 8.75rem;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding-right: 0.117188rem;
  box-sizing: border-box;
}
.rightSide .topBox .name {
  font-size: 16px;
  color: #00203C;
  padding-left: 0.101562rem;
  line-height: 50px;
}
.rightSide .topBox .infoBox {
  line-height: 50px;
}
.rightSide .topBox .infoBox .avatar {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 10px;
}
.rightSide .topBox .infoBox .adminName {
  font-size: 10px;
  color: #000;
  line-height: 50px;
  margin-right: 25px;
}
.rightSide .topBox .infoBox .iconfont {
  font-size: 12px;
  color: #2981FF;
}
.rightSide .content {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0.46875rem 0.101562rem 0.3125rem;
}
.rightSide .content .searchBox {
  margin-bottom: 13px;
}
.rightSide .content .opBox {
  margin-bottom: 13px;
  margin-top: -13px;
}
.rightSide .content table {
  width: 100%;
}
.rightSide .content table thead td {
  font-size: 14px;
  color: #00203C;
}
.rightSide .content table tbody td {
  font-size: 12px;
}
.rightSide .content table tbody td.btn {
  color: #2981FF;
}
.rightSide .content table tbody td span.btn {
  font-size: 14px;
  color: #409eff;
}
.rightSide .content table tbody td i.icon {
  padding-left: 5px;
  color: #2981FF;
}
.rightSide .content table tbody td a {
  color: #2981FF;
}
.rightSide .content table tr {
  height: 40px;
  border-bottom: 1px solid #e3ebf2;
}
.rightSide .content table tr td:nth-child(1) {
  padding-left: 5px;
}
.rightSide .content table tr td {
  height: 40px;
  text-align: left;
}
.rightSide .content table tr td img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.rightSide .content .el-table .cell {
  text-align: leftleft;
}
.rightSide .content .el-table th > .cell {
  font-family: PingFangSC-Regular;
  color: #00254e;
  letter-spacing: 0.09px;
}
.rightSide .pages {
  text-align: center;
  margin-top: 40px;
}
.el-dialog .el-dialog__header {
  background: #0E79D1;
  text-align: center;
  padding: 0;
}
.el-dialog .el-dialog__header .el-dialog__title {
  color: #fff;
  font-size: 18px;
  line-height: 40px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 12px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #fff;
  font-size: 18px;
}
.el-dialog .el-form .el-form-item__label {
  text-align: center;
  line-height: 30px;
}
.el-dialog .el-form .el-cascader {
  width: 100%;
}
.el-dialog .el-form .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.el-dialog .el-form .el-upload:hover {
  border-color: #409EFF;
}
.el-dialog .el-form .el-upload .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.el-dialog .el-form .el-upload img {
  width: 178px;
  height: 178px;
  display: block;
}
.el-dialog .el-dialog__footer {
  text-align: center;
}
.el-dialog table {
  width: 100%;
}
.el-dialog table thead td {
  font-size: 14px;
  color: #00203C;
}
.el-dialog table tbody td {
  font-size: 12px;
}
.el-dialog table tbody td.btn {
  color: #2981FF;
}
.el-dialog table tbody td span.btn {
  font-size: 14px;
  color: #409eff;
}
.el-dialog table tbody td i.icon {
  padding-left: 5px;
  color: #2981FF;
}
.el-dialog table tbody td a {
  color: #2981FF;
}
.el-dialog table tr {
  height: 40px;
  border-bottom: 1px solid #e3ebf2;
}
.el-dialog table tr td:nth-child(1) {
  padding-left: 5px;
}
.el-dialog table tr td {
  height: 40px;
  text-align: left;
}
.el-dialog table tr td img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.el-message-box .el-button--small {
  padding: 5px 12px;
}
#changePwDialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.3);
}
#changePwDialog .mainBox {
  width: 500px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  border-radius: 4px;
}
#changePwDialog .mainBox .title {
  background: #0E79D1;
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  margin-bottom: 40px;
}
#changePwDialog .mainBox .formBox {
  text-align: center;
  padding: 0 40px;
}
#changePwDialog .mainBox .formBox .eachItem {
  margin-bottom: 20px;
}
#changePwDialog .mainBox .formBox .eachItem label {
  line-height: 30px;
}
#changePwDialog .mainBox .btnsBox {
  text-align: center;
}
