<!DOCTYPE html>
<html lang="en">

<head>
   <#include "common/meta.html">
   <script src="/js/common/md5.js"></script>
</head>

<body>
<div  id="app" class="clearfix">
    <#include "common/left.html">
    <div class="rightSide fl">
        <#include "common/top.html">
        <div class="content">
            <div class="searchBox">
                <el-button  @click="showAddAdmin = true" type="primary" icon="el-icon-plus" size="mini">注册</el-button>
                <el-button  @click="deleteAdmin" type="primary" icon="el-icon-delete" size="mini">批量删除</el-button>
            </div>


            <!-- 用户列表 -->
            <el-table
                ref="multipleTable"
                @selection-change="handleAdminSelectionChange"
                :data="adminList"
                size="mini"
                style="width: 100%">

                <el-table-column  type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="用户ID"></el-table-column>
              

                <el-table-column label="登录账号">
                    <template slot-scope="scope">
                        <span style="color: gray;" v-if="scope.row.enable == false && scope.row.deleted == false">{{scope.row.username}}  (未启用）</span>
                        <span style="color: red;" v-if="scope.row.deleted == true">{{scope.row.username}}  (已删除）</span>
                        <span v-if="scope.row.enable == true && scope.row.deleted == false">{{scope.row.username}}</span>
                    </template>
                </el-table-column>


                <el-table-column prop="name" label="昵称"></el-table-column>
                <el-table-column prop="intros" label="简介"></el-table-column>
                <el-table-column prop="createTime" label="创建时间"></el-table-column>
                <el-table-column prop="modifyTime" label="修改时间"></el-table-column>
                <el-table-column prop="lastLoginTime" label="上次登录时间"></el-table-column>
                <el-table-column label="操作" >
                    <template slot-scope="scope">
                        <el-button @click="clickEditAdmin(scope.row)" plain type="primary" size="mini">编辑</el-button>
                        <el-button @click="resetPw(scope.row.id)" plain type="danger" size="mini">重置密码</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页 -->
            <#include "common/pages2.html">
        </div>
    </div>

    <!-- 新增用户弹出框 -->
    <el-dialog title="注册用户" :visible.sync="showAddAdmin">
        <el-form :model="addAdminInfo">
            <el-form-item label="管理员" :label-width="dialogLabelWidth">
                <el-input v-model="admin" size="mini" disabled auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="登录账号" :label-width="dialogLabelWidth">
                <el-input v-model="addAdminInfo.username" size="mini" auto-complete="off"></el-input>
            </el-form-item> 
            <el-form-item label="用户昵称" :label-width="dialogLabelWidth">
                <el-input v-model="addAdminInfo.name" size="mini" auto-complete="off"></el-input>
            </el-form-item> 
            <el-form-item label="简介" :label-width="dialogLabelWidth">
                <el-input v-model="addAdminInfo.intros" size="mini" auto-complete="off"></el-input>
            </el-form-item>           
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" size="mini" @click="addAdmin">确 定</el-button>
        </div>
    </el-dialog>

    <!-- 修改用户信息弹出框 -->
    <el-dialog title="更新用户信息" :visible.sync="showEditAdmin">
        <el-form :model="editAdminInfo">


            <el-form-item label="用户登录账号" :label-width="dialogLabelWidth">
                <el-input v-model="editAdminInfo.username" size="mini" disabled auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="昵称" :label-width="dialogLabelWidth">
                <el-input v-model="editAdminInfo.name" size="mini" auto-complete="off"></el-input>
            </el-form-item> 
            <el-form-item label="简介" :label-width="dialogLabelWidth">
                <el-input v-model="editAdminInfo.intros" size="mini" auto-complete="off"></el-input>
            </el-form-item>            
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" size="mini" @click="editAdmin">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script>
    var admin = '超级管理员';
    var adminId = 1;
</script>
<script src="/js/common/per.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>