<!DOCTYPE html>
<html>
<head>
    <#include "common/meta.html">
    <link rel="stylesheet" href="/css/device_detail.css">
</head>
<body>
<div id="app" class="clearfix" v-cloak>
    <#include "common/left.html">
    <div class="rightSide">
        <#include "common/top.html">
        <div>
        <el-card class="box-card first-card">
            <div slot="header" class="clearfix">
                <span>设备硬件参数</span>
            </div>
            <el-table :data="device" border style="width: 100%">
                <el-table-column prop="id" label="设备ID">
                </el-table-column>
                <el-table-column prop="highLimit" label="设备限高(厘米)" min-width="280">
                        <template slot-scope="scope">
                            <span v-cloak v-if="backupDevice.highLimit.edit == false">
                                <span slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.highLimit }}</el-tag>
                                </span>
                                <span class="rightButton">
                                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.highLimit.edit = true"></el-button>
                                </span>

                            </span>
                            <span v-else>
                                <span slot="reference" class="name-wrapper">
                                    <el-input-number style="width:50%" v-model="backupDevice.highLimit.value" :step="5" size='mini' :min="1" :max="1500" label="设备限高(厘米)"></el-input-number>
                                </span>
                                <span class="rightButton">
                                    <el-button type="success" size="mini" @click="saveDevice('highLimit')" :disabled="backupDevice.highLimit.value == scope.row.highLimit">保存</el-button>
                                    <el-button size="mini" type="danger" plain @click="cancel('highLimit')">取消</el-button>
                                </span>
                            </span>
                        </template>
                </el-table-column>
                <el-table-column prop="wideLimit" label="设备限宽(厘米)" min-width="280">
                        <template slot-scope="scope">
                            <span v-cloak v-if="backupDevice.wideLimit.edit == false">
                                <span slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.wideLimit }}</el-tag>
                                </span>
                                <span class="rightButton">
                                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.wideLimit.edit = true"></el-button>
                                </span>
                            </span>
                            <span v-else>
                                <span slot="reference" class="name-wrapper">
                                    <el-input-number style="width:50%" v-model="backupDevice.wideLimit.value" size='mini' :step="5" :min="1" :max="1500" label="设备限宽(厘米)"></el-input-number>
                                </span>
                                <span class="rightButton">
                                    <el-button type="success" size="mini" @click="saveDevice('wideLimit')" :disabled="backupDevice.wideLimit.value == scope.row.wideLimit">保存</el-button>
                                    <el-button size="mini" type="danger" @click="cancel('wideLimit')">取消</el-button>
                                </span>
                            </span>
                        </template>
                </el-table-column>
                <el-table-column prop="bubbleLimit" label="泡沫可用次数" min-width="280">
                    <template slot-scope="scope">
                        <span v-cloak v-if="backupDevice.bubbleLimit.edit == false">
                            <span slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{ scope.row.bubbleLimit }}</el-tag>
                            </span>
                            <span class="rightButton">
                                <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.bubbleLimit.edit = true"></el-button>
                            </span>
                        </span>
                        <span v-else>
                            <span slot="reference" class="name-wrapper">
                                <el-input-number style="width:50%" v-model="backupDevice.bubbleLimit.value" size='mini' :min="1" :max="1000" label="泡沫可用次数"></el-input-number>
                            </span>
                            <span class="rightButton">
                                <el-button type="success" size="mini" @click="saveDevice('bubbleLimit')" :disabled="backupDevice.bubbleLimit.value == scope.row.bubbleLimit">保存</el-button>
                                <el-button size="mini" type="danger" @click="cancel('bubbleLimit')">取消</el-button>
                            </span>
                        </span>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>

        <!-- <el-card v-if="device && device[0].deviceType" class="box-card"> -->
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>设备关联网点信息</span>
            </div>
            <el-table :data="device" border style="width: 100%">
                <el-table-column prop="terId" label="网点ID" min-width="280">
                        <template slot-scope="scope">
                            <span v-cloak v-if="backupDevice.terId.edit == false">
                                <span slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.terId }}</el-tag>
                                </span>
                                <span class="rightButton">
                                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="terQuerySearch"></el-button>
                                </span>
                            </span>
                            <span v-else>
                                <span slot="reference" class="name-wrapper">
                                    <el-select style="width:50%" size="mini" v-model="backupDevice.terId.value" placeholder="网点ID关联">
                                        <el-option v-for="item in terOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                    </el-select>
                                </span>
                                <span class="rightButton">
                                    <el-button  type="success" size="mini" @click="bindDeviceByTerid" :disabled="backupDevice.terId.value == scope.row.terId">保存</el-button>
                                    <el-button size="mini" type="danger" @click="cancel('terId')">取消</el-button>
                                </span>
                            </span>
                        </template>
                </el-table-column>
                <el-table-column prop="terModel" label="网点编号" min-width="280">
                </el-table-column>
                <el-table-column prop="terRemark" label="网点名称" min-width="280">
                </el-table-column>
            </el-table>
        </el-card>
        <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>网点类型及监控</span>
                </div>
                <el-table :data="device" border style="width: 100%">
                    <el-table-column prop="videoControl" label="监控服务" min-width="280">
                        <template slot-scope="scope">
                            <span v-cloak v-if="backupDevice.videoControl.edit == false">
                                <span slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.videoControl }}</el-tag>
                                </span>
                                <span class="rightButton">
                                    <el-button type="primary" size="mini" icon="el-icon-edit" @click="backupDevice.videoControl.edit = true"></el-button>
                                </span>
                            </span>
                            <span v-else>
                                <span slot="reference" class="name-wrapper">
                                    <el-autocomplete style="width:50%" size="mini" class="inline-input" maxlength="10" v-model="backupDevice.videoControl.value" :fetch-suggestions="videoControlQuerySearch" placeholder="请输入监控服务名称"></el-autocomplete>
                                </span>
                                <span class="rightButton">
                                    <el-button type="success" size="mini" @click="saveDevice('videoControl')" :disabled="backupDevice.videoControl.value == scope.row.videoControl">保存</el-button>
                                    <el-button size="mini" type="danger" @click="cancel('videoControl')">取消</el-button>
                                </span>
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="cdrPicture" label="刻录机二维码" min-width="280">
                        <template slot-scope="scope">
                            <span class="inTableCell">
                                <span slot="reference" class="name-wrapper leftButton">
                                    <img class="cdr-picture" v-if="scope.row.cdrPicture" :src="scope.row.cdrPicture" @click="backupDevice.cdrPicture.cdrPictureDialogVisible = true"></img>
                                    <span v-else>暂无</span>
                                </span>
                                <span class="rightButton">
                                    <el-button type="primary" size="mini" @click="uploadQrcodeDialogVisible = true">上传</el-button>
                                </span>
                                <el-dialog title="上传监控二维码" :visible.sync="uploadQrcodeDialogVisible" width="40%">
                                    <div class="uploadCarouselButton">
                                        <el-upload
                                            class="upload-qrcode"
                                            accept="image/jpeg, image/png"
                                            action="/api/private/wash/ter/property/upload/cdr/picture"
                                            list-type="picture"
                                            :on-change="listenAddPicture"
                                            :data="uploadQrcodePlusData"
                                            :limit="1"
                                            :on-success="uploadQrcodeSuccess"
                                            :on-exceed="handleExceed"
                                            :show-file-list="true">
                                            <el-button class="inElUpload" slot="trigger" size="mini" type="primary">选取文件</el-button>
                                            <div slot="tip" class="el-upload__tip"><span class="uploadTip">* 只能上传jpg/png文件，且不超过2M</span></div>
                                        </el-upload>
                                        <div slot="footer" class="dialog-footer uploadDialogFooter">
                                            <el-button size="mini" @click="uploadQrcodeDialogVisible = false">取 消</el-button>
                                        </div>
                                    </div>    
                                </el-dialog>
                            </span>
                            <el-dialog append-to-body v-if="scope.row.cdrPicture" :title="scope.row.terRemark + ' ' + '刻录机二维码'" :visible.sync="backupDevice.cdrPicture.cdrPictureDialogVisible">
                                <img v-if="scope.row.cdrPicture" :src="scope.row.cdrPicture" @click=></img>
                                <span slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="backupDevice.cdrPicture.cdrPictureDialogVisible = false">确 定</el-button>
                                </span>
                            </el-dialog>
                        </template>
                    </el-table-column>
                    <el-table-column prop="terBusiModeDesc" label="网点类型" min-width="280">
                        <template slot-scope="scope">
                            <span v-cloak v-if="backupDevice.terBusiMode.edit == false">
                                <span slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.terBusiModeDesc }}</el-tag>
                                </span>
                                <span class="rightButton">
                                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.terBusiMode.edit = true"></el-button>
                                </span>
                            </span>
                            <span v-else>
                                <span slot="reference" class="name-wrapper">
                                    <el-select style="width:50%" size="mini" v-model="backupDevice.terBusiMode.value" placeholder="网点类型">
                                        <el-option v-for="item in terBusiModeOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                    </el-select>
                                </span>
                                <span class="rightButton">
                                    <el-button type="success" size="mini" @click="saveDevice('terBusiMode')" :disabled="backupDevice.terBusiMode.value == scope.row.terBusiMode">保存</el-button>
                                    <el-button size="mini" type="danger" @click="cancel('terBusiMode')">取消</el-button>
                                </span>
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="propertyRemark" label="设备备注" min-width="280">
                        <template slot-scope="scope">
                            <div v-cloak v-if="backupDevice.propertyRemark.edit == false">
                                <div slot="reference" class="name-wrapper propertyRemark">
                                    <span v-if="scope.row.propertyRemark && scope.row.propertyRemark.length > 0">{{ scope.row.propertyRemark }}</span>
                                    <span v-else>暂无</span>
                                </div>
                                <div class="propertyRemarkEdit">
                                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.propertyRemark.edit = true"></el-button>
                                </div>
                            </div>
                            <el-dialog title="备注更改" :visible.sync="backupDevice.propertyRemark.edit">
                                <el-input type="textarea" :maxlength="50" :minlength="5" :autosize="{ minRows: 3, maxRows: 6}" placeholder="请输入设备备注" v-model="backupDevice.propertyRemark.value">
                                </el-input>
                                <div slot="footer" class="dialog-footer">
                                    <el-button size="small" type="danger" @click="cancel('propertyRemark')">取 消</el-button>
                                    <el-button type="success" size="small" @click="saveDevice('propertyRemark')" :disabled="backupDevice.propertyRemark.value == scope.row.videoControl || backupDevice.propertyRemark.value.length == 0">保 存</el-button>
                                </div>
                            </el-dialog>
                        </template>
                    </el-table-column>
                </el-table>
        </el-card>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>程序版本与frp</span>
            </div>
            <el-table :data="device" border style="width: 100%">
                <el-table-column prop="terClientVersion" label="工控程序版本" min-width="280">
                    <template slot-scope="scope">
                        <span v-cloak v-if="backupDevice.terClientVersion.edit == false">
                            <span slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{scope.row.terClientVersion}}</el-tag>
                            </span>
                            <span class="rightButton">
                                <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.terClientVersion.edit = true"></el-button>
                            </span>
                        </span>
                        <span v-else>
                            <span slot="reference" class="name-wrapper">
                                <el-select style="width:50%" size="mini" v-model="backupDevice.terClientVersion.value" placeholder="工控程序版本">
                                    <el-option v-for="item in terClientVersionOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                </el-select>
                            </span>
                            <span class="rightButton">
                                <el-button type="success" size="mini" @click="saveDevice('terClientVersion')" :disabled="backupDevice.terClientVersion.value == scope.row.terClientVersion">保存</el-button>
                                <el-button size="small" type="danger" @click="saveDevice('terClientVersion')">取 消</el-button>
                            </span>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column prop="frp" label="frp地址" min-width="280">
                    <template slot-scope="scope">
                        <span v-cloak v-if="backupDevice.frp.edit == false">
                            <span slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{ scope.row.frp }}</el-tag>
                            </span>
                            <div class="rightButton">
                                <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.frp.edit = true"></el-button>
                            </div>
                        </span>
                        <el-dialog title="frp地址更改" :visible.sync="backupDevice.frp.edit" width="50%">
                            <div class="inlineInput frpIpInput">
                                <el-input placeholder="frp地址" @change="listenFrpIpChange" v-model="backupDevice.frpIp.value">
                                </el-input>
                            </div>    
                            <span class="frpSlice">:</span>
                            <div class="inlineInput frpPortInput">
                                <el-input-number v-model="backupDevice.frpPort.value" controls-position="right" :min="80" :max="49151" v-model="backupDevice.frpPort.value"></el-input-number>
                            </div>
                            </el-input>
                            <div slot="footer" class="dialog-footer">
                                <el-button size="small" type="danger"  @click="cancel('frp')">取 消</el-button>
                                <el-button type="success" size="small" @click="saveDevice('frp')" :disabled="(backupDevice.frpIp.value == scope.row.frpIp && backupDevice.frpPort.value == scope.row.frpPort) || rightfulFrpUrl == false">保 存</el-button>
                            </div>
                            <div v-if="!rightfulFrpUrl" class="urlHint">
                                <span>请正确填写url格式的frp地址, 例如：http://hza1.taipuauto.cn</span>
                            </div>
                        </el-dialog>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>屏幕与广告</span>
            </div>
            <el-table :data="device" border style="width: 100%">
                <el-table-column prop="screenSize" label="屏幕尺寸" width="450">
                    <template slot-scope="scope">
                        <span v-cloak v-if="backupDevice.screen.edit == false">
                            <span slot="reference" class="name-wrapper">
                                高：<el-tag size="medium">{{ scope.row.screenHigh }}</el-tag>
                                宽：<el-tag size="medium">{{ scope.row.screenWide }}</el-tag>
                            </span>
                            <span class="rightButton">
                                <el-button size="mini" type="primary" icon="el-icon-edit" @click="backupDevice.screen.edit = true"></el-button>
                            </span>
                        </span>
                        <span v-else>
                            <span slot="reference" class="name-wrapper">
                                <el-input style="width:30%" size="mini" v-model="backupDevice.screenHigh.value" placeholder="请输入屏幕高度"><template slot="prepend">高</template></el-input>
                                *
                                <el-input style="width:30%" size="mini" v-model="backupDevice.screenWide.value" placeholder="请输入屏幕宽度"><template slot="prepend">宽</template></el-input>
                            </span>
                            <span class="rightButton">
                                <el-button type="success" size="mini" @click="saveDevice('screen')" :disabled="backupDevice.screenHigh.value == scope.row.screenHigh && backupDevice.screenWide.value == scope.row.screenWide">保存</el-button>
                                <el-button size="mini" type="danger" @click="cancel('screen')">取消</el-button>
                            </span>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column prop="netMethodDesc" label="网点网络类型" min-width="280">
                    <template slot-scope="scope">
                        <span v-cloak v-if="backupDevice.netMethod.edit == false">
                            <span slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{ scope.row.netMethodDesc }}</el-tag>
                            </span>
                            <span class="rightButton">
                                <el-button type="primary" size="mini" icon="el-icon-edit" @click="backupDevice.netMethod.edit = true"></el-button>
                            </span>

                        </span>
                        <span v-else>
                            <span slot="reference" class="name-wrapper">
                                <el-select style="width:50%" size="mini" v-model="backupDevice.netMethod.value" placeholder="网点网络类型">
                                    <el-option v-for="item in netMethodOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                </el-select>
                            </span>
                            <span class="rightButton">
                                <el-button type="success" size="mini" @click="saveDevice('netMethod')" :disabled="backupDevice.netMethod.value == scope.row.netMethod">保存</el-button>
                                <el-button size="mini" type="danger" @click="cancel('netMethod')">取消</el-button>
                            </span>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column prop="adExist" label="是否支持广告" min-width="280">
                    <template slot-scope="scope">
                        <span slot="reference" class="name-wrapper">
                            <el-switch v-model="backupDevice.adExist.value" active-text="支持" inactive-text="不支持" @change="adExistChange"></el-switch>
                        </span>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>广告图片管理</span>
                <el-button style="float: lift; margin-left: .078125rem" type="success" icon="el-icon-upload" size="mini" @click="uploadCarouselDialogVisible = true">上传轮播图</el-button>
                <!-- <el-button style="float: lift;" type="primary" size="mini">展示</el-button> -->
                <el-button :disabled="deviceCarouselQuery.length <= 0" style="float: lift; margin-left: .039063rem" type="primary" size="mini" @click="pushDeviceCarousel">推送轮播图</el-button>
            </div>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <!-- <span>banner图</span> -->
                    <el-tag>banner图</el-tag>
                    <!-- <el-button style="float: right;" type="danger" size="mini" @click="deleteDeviceCarousel()">删除</el-button> -->
                </div>
                <el-table :data="deviceBannerQuery" border style="width: 100%">
                    <!-- <el-table-column type="selection" width="55"></el-table-column> -->
                    <el-table-column prop="id" label="ID">
                    </el-table-column>
                    <!-- <el-table-column prop="typeDesc" label="图片类型">
                    </el-table-column> -->
                    <el-table-column prop="picture" label="图片地址"></el-table-column>
                    <el-table-column prop="picture" label="缩略图">
                        <template slot-scope="scope">
                            <img class="briefCarousel" :src="scope.row.picture">
                        </template>
                    </el-table-column>
                    <el-table-column prop="enable" label="是否启用">
                        <template slot-scope="scope">
                            <span slot="reference" class="name-wrapper">
                                <el-switch v-model="scope.row.enable" active-text="启用" inactive-text="不启用" @change="carouselPictureChangeState(scope.row, scope.$index)"></el-switch>
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="enable" label="操作">
                        <template slot-scope="scope">
                            <el-button type="danger" size="mini" @click="deleteDeviceCarousel([scope.row.id], 'banner图')">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <!-- <span>轮播图</span> -->
                    <el-tag>轮播图</el-tag>
                    <el-button style="float: right;" type="danger" :disabled="deleteCarousels.length <= 0" size="mini" @click="deleteDeviceCarousel(deleteCarousels, '轮播图')">批量删除</el-button>
                </div>
                <el-table :data="deviceCarouselQuery" @selection-change="changeDeleteCarousel" border style="width: 100%">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="id" label="ID">
                    </el-table-column>
                    <!-- <el-table-column prop="typeDesc" label="图片类型">
                    </el-table-column> -->
                    <el-table-column prop="picture" label="图片地址"></el-table-column>
                    <el-table-column prop="picture" label="缩略图">
                        <template slot-scope="scope">
                            <img class="briefCarousel" :src="scope.row.picture">
                        </template>
                    </el-table-column>
                    <el-table-column prop="enable" label="是否启用">
                        <template slot-scope="scope">
                            <span slot="reference" class="name-wrapper">
                                <el-switch v-model="scope.row.enable" active-text="启用" inactive-text="不启用" @change="carouselPictureChangeState(scope.row, scope.$index)"></el-switch>
                            </span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
            <el-dialog title="上传轮播图" :visible.sync="uploadCarouselDialogVisible" width="40%">
                <div class="uploadCarouselRadio">
                    <span>上传图片类型： </span>
                    <el-radio-group v-model="uploadCarouselType">
                        <el-radio :label="0">轮播广告</el-radio>
                        <el-radio :label="1">banner</el-radio>
                    </el-radio-group>
                </div>
                <div class="uploadCarouselButton">
                    <el-upload
                        class="upload-demo"
                        ref="upload"
                        :auto-upload="false"
                        accept="image/jpeg, image/png"
                        action="/api/private/ter/ratation/picture/appoint/upload"
                        list-type="picture"
                        :on-change="listenAddPicture"
                        :data="uploadCarouselPlusData"
                        :on-exceed="handleExceed"
                        :limit="1"
                        :on-success="uploadCarouselSuccess"
                        :show-file-list="true">
                        <el-button class="inElUpload" slot="trigger" size="mini" type="primary">选取文件</el-button>
                        <el-button class="inElUpload" style="margin-left: 10px;" size="mini" type="success" @click="submitCarouselUpload">上传到服务器</el-button>
                        <div slot="tip" class="el-upload__tip"><span class="uploadTip">* 只能上传jpg/png文件，且不超过2M</span></div>
                    </el-upload>
                    <div slot="footer" class="dialog-footer uploadDialogFooter">
                        <el-button size="mini" @click="uploadCarouselDialogVisible = false">取 消</el-button>
                    </div>
                </div>    
            </el-dialog>
        </el-card>
        </div>
    </div>
</div>
<script src="/js/common/per.js"></script>
<script src="/js/device_detail.js"></script>
</body>
</html>