<!DOCTYPE html>
<html lang="en">

<head>
   <#include "common/meta.html">
   <link rel="stylesheet" href="/css/device_log.css">
   <!-- <link rel="stylesheet" href="/css/index.css"> -->
</head>

<body>
<div v-cloak id="app" class="clearfix">
    <#include "common/left.html">
    <div class="rightSide">
        <#include "common/top.html">
        <div class="content" style="width: 100%">
                <div class="searchBox">                    
                    <!-- 操作来源 -->
                    <el-select v-model="currentOpSource" size="mini" clearable placeholder="请选择操作来源">
                        <el-option
                            v-for="item in OpSourceOptions" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
    
                    <!-- 网点筛选 -->
                    <el-select filterable remote :remote-method="searchTerByKeyword"
                        :loading="searchTerLoading" v-model="currentTerId" size="mini" clearable placeholder="请选择网点">
                        <el-option
                            v-for="item in searchTerOptions" :key="item.id" :label="item.title" :value="item.id">
                        </el-option>
                    </el-select>
                    
                    <!-- 日期筛选 -->
                    <el-date-picker clearable v-model="computedDateRange" size="mini" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions" format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                    </el-date-picker>
    
                    <!-- 搜索按钮 -->
                    <el-button type="primary" icon="el-icon-search" size="mini" @click="search">筛选</el-button>
                </div>
            <el-table :data="logList" style="width: 100%">
                <el-table-column prop="id" label="日志"></el-table-column>
                <el-table-column prop="terId" label="网点ID"></el-table-column>
                <el-table-column prop="terTitle" label="网点名称"></el-table-column>
                <el-table-column prop="createTime" label="时间"></el-table-column>
                <el-table-column prop="opSourceDesc" label="操作来源"></el-table-column>
                <el-table-column prop="username" label="操作人"></el-table-column>
                <el-table-column prop="title" label="操作描述"></el-table-column>
                <el-table-column label="现场图片">
                    <template slot-scope="scope">
                        <el-button plain type="primary" size="mini" v-if="scope.row.img" @click="showResetImg(scope.row)">查看</el-button>
                        <span v-else>暂无图片</span>
                    </template>
                </el-table-column>
                <el-table-column prop="handlerResult" label="操作结果">
                    <template slot-scope="scope">
                        <el-tag :type="scope.row.success ? 'success':'danger'">{{scope.row.handlerResult}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="msg" label="操作失败原因">
                    <template slot-scope="scope">
                        <span v-if="scope.row.success || !scope.row.msg || scope.row.msg.length <= 0">暂无</span>
                        <span v-else>{{scope.row.msg}}</span>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog v-if="currentLogByImg" fullscreen modal close-on-press-escape center :title="currentLogByImg.createTime + ' ' + currentLogByImg.intros" :visible.sync="showCurrentImg" width="70%" close-on-press-escape append-to-body>
                <el-carousel height="4.6875rem">
                    <el-carousel-item v-for="img in currentLogByImg.img" :key="img">
                        <img :src="img" alt="">
                    </el-carousel-item>
                </el-carousel>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="showCurrentImg = false">确 定</el-button>
                </span>
            </el-dialog>
            <#include "common/pages2.html">
        </div>
    </div>
</div>

<script src="/js/common/per.js"></script>
<script src="/js/device_log.js"></script>
</body>
</html>