<!DOCTYPE html>
<html lang="en">

<head>
   <#include "common/meta.html">
   <link rel="stylesheet" href="/css/device.css">
</head>

<body>
<div v-cloak id="app" class="clearfix">
    <#include "common/left.html">
    <div class="rightSide">
        <#include "common/top.html">
        <div class="content" style="width: 100%">
            <div class="handleButtons">
                <el-button size="mini" type="primary" @click="downloadDeviceList">下载设备列表</el-button>
            </div>
            <div>
                <el-table :data="deviceList" style="width: 100%">
                    <el-table-column prop="id" label="设备ID"></el-table-column>
                    <el-table-column prop="terId" label="网点ID" ></el-table-column>
                    <el-table-column prop="terRemark" label="网点名称"></el-table-column>
                    <el-table-column prop="terBusiModeDesc" label="网点类型"></el-table-column>
                    <el-table-column prop="terModel" label="网点编号"></el-table-column>
                    <el-table-column prop="terClientVersion" label="程序版本"></el-table-column>
                    <el-table-column prop="highLimit" label="设备限高(厘米)"></el-table-column>
                    <el-table-column prop="wideLimit" label="设备限宽(厘米)"></el-table-column>
                    <el-table-column prop="bubbleLimit" label="泡沫可用次数"></el-table-column>
                    <el-table-column prop="netMethodDesc" label="网络类型"></el-table-column>
                    <el-table-column prop="adExistDesc" label="广告支持"></el-table-column>
                    <el-table-column prop="screenSize" label="屏幕尺寸"></el-table-column>
                    <el-table-column prop="videoControl" label="监控服务提供商"></el-table-column>
                    <el-table-column prop="frp" label="frp地址">
                        <template slot-scope="scope">
                            <span v-cloak v-if="scope.row.frp">
                                <el-popover
                                    placement="top-start"
                                    title=""
                                    width="200"
                                    trigger="hover"
                                    :content="scope.row.frp">
                                    <el-tag slot="reference">查看</el-tag>
                                </el-popover>
                            </span>
                            <span v-else>
                                <span slot="reference" class="name-wrapper">
                                    暂无
                                </span>
                            </span>
                        </template>
                    </el-table-column>
                    <el-table-column label="设备操作">
                        <template slot-scope="scope">
                            <el-button plain type="primary" size="mini" @click="handlerDevice(scope.row)">管理</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <#include "common/pages2.html">
        </div>
    </div>
</div>

<script src="/js/common/per.js"></script>
<script src="/js/device.js"></script>
</body>
</html>