  <head>
      <meta charset="UTF-8">
      <meta name="format-detection" content="telephone=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="renderer" content="webkit">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <title>错误404</title>
      <link href="http://tp-www.oss-cn-shanghai.aliyuncs.com/tp_www/icon.ico" rel="shortcut icon">
      <link rel="stylesheet" href="/css/common/reset.css">
      <link rel="stylesheet" href="/css/error.css">
      <script type="text/javascript" src="/js/common/flexible.js"></script>
  </head>
  <body>
      <div class="bg404">
        	<div class="text">
             <p class="title">404</p> 
             <p class="tip">亲，您搜寻的页面暂不存在，请联系管理人员哦！</p> 
             <a href="/pages/index" class="btn block">返回首页 &gt;&gt;</a>
          </div>
      </div>
  </body>