<!DOCTYPE html>
<html lang="en">
<head>
	<#include "common/meta.html">
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div v-cloak id="app" class="clearfix">
	<#include "common/left.html">
    <h1>首页</h1>

    <div class="rightSide">
        <#include "common/top.html">
        <div class="content">
            <div class="imgBox">
            	<img src="http://tp-app.oss-cn-hangzhou.aliyuncs.com/ios/welcom.png" alt="">
            </div>
        </div>
    </div>
</div>

<script src="/js/common/per.js"></script>
<script src="/js/index.js"></script>


</body>
</html>