<!DOCTYPE html>
<html lang="en">
<head>
   <#include "common/meta.html">
</head>

<body>
<div v-cloak id="app" class="clearfix">
    <#include "common/left.html">
    <div class="rightSide fl">
        <#include "common/top.html">
        <div class="content">
            <div class="searchBox">

                <el-input v-model="currentOrderId" style="width:150px;" type="number" size="mini" clearable placeholder="订单编号"></el-input>
                <!-- 状态筛选 -->
                <el-select v-model="currentStatus" size="mini" clearable placeholder="请选择状态">
                    <el-option
                      v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>

                <!-- 支付方式筛选 -->
                <el-select v-model="currentType" size="mini" clearable placeholder="请选择支付方式">
                    <el-option
                      v-for="item in typeOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>

                <!-- 网点筛选 -->
                <el-select v-model="currentTerIds[0]" size="mini" clearable placeholder="请选择网点">
                    <el-option
                      v-for="item in terOptions" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                </el-select>
                
                <!-- 日期筛选 -->
                <el-date-picker clearable v-model="dateRange" size="mini" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions" format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                </el-date-picker>

                <!-- 搜索按钮 -->
                <el-button type="primary" icon="el-icon-search" size="mini" @click="search">筛选</el-button>

                <!-- 下载按钮 -->
                <el-button v-if="opPer['/api/private/wash/order/list/exprot']" size="mini" type="primary" icon="el-icon-download" @click="download">下载</el-button>
            </div>


            <!-- 页面列表 -->
            <el-table
                :data="orderList"
                size="mini"
                style="width: 100%">

                <el-table-column prop="id" label="订单ID"></el-table-column>
                <el-table-column prop="userId" label="用户ID"></el-table-column>
                <el-table-column prop="terTitle" label="网点名称"></el-table-column>
                <el-table-column prop="payTime" label="支付时间"></el-table-column>
                <el-table-column label="订单状态">
                    <template slot-scope="scope">
                        <span>{{statusList[scope.row.status]}}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="operationDesc" label="操作描述"></el-table-column>

                <el-table-column label="总价（元）">
                    <template slot-scope="scope">
                        <span>{{scope.row.amount/100}}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="cardId" label="洗车卡"></el-table-column>
                <el-table-column prop="ticketId" label="优惠券"></el-table-column>
                <el-table-column prop="typeDesc" label="支付方式"></el-table-column>
                <el-table-column prop="channelDesc" label="订单来源"></el-table-column>
                <el-table-column label="洗车机日志" v-if="opPer['/api/private/wash/order/log/list']">
                    <template slot-scope="scope">
                        <el-button plain type="primary" size="mini" @click="getWashLog(scope.row.id,1,5)">查看</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页 -->
            <#include "common/pages2.html">
        </div>
    </div> 

    <!-- 洗车日志列表弹出框 -->
    <el-dialog title="洗车日志" :visible.sync="showLog">
        <el-table
            :data="logList.result"
            size="mini"
            style="width: 100%">
            <el-table-column prop="orderId" label="订单编号"></el-table-column>
            <!-- <el-table-column prop="code" label="code"></el-table-column> -->
            <el-table-column prop="state" label="state"></el-table-column>
            <el-table-column prop="info" label="info"></el-table-column>
            <el-table-column prop="createTime" label="时间"></el-table-column>
            <!-- <el-table-column prop="needWait" label="needWait"></el-table-column> -->
            <!-- <el-table-column prop="valid" label="valid"></el-table-column> -->
            <el-table-column prop="detail" label="详细信息"></el-table-column>
        </el-table>
  
        
        <!-- 日志翻页 -->
        <div class="dialogPages" style="text-align: center; margin-top: 10px;">
            <el-pagination @size-change="logSizeChange" @current-change="logCurrentChange" :current-page.sycn="logList.pageIndex" :page-sizes="dialogPageSizes" :page-size.sync="logList.pageSize"  layout="total, sizes, prev, pager, next, jumper" :total="logList.totalCnt"></el-pagination>
        </div>
    </el-dialog>   
</div>

<script src="/js/common/per.js"></script>
<script src="/js/order.js"></script>
</body>
</html>