<!DOCTYPE html>
<html lang="en">
<head>
   <#include "common/meta.html">
</head>

<body>
<div v-cloak id="app" class="clearfix">
    <#include "common/left.html">
    <div class="rightSide fl">
        <#include "common/top.html">
        <div class="content">
            <div class="searchBox">
                <!-- 状态筛选 -->
                <el-select v-model="currentStatus" size="mini" clearable placeholder="请选择状态">
                    <el-option
                      v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>

                <!-- 原因筛选 -->
                <el-select v-model="currentReason" size="mini" clearable placeholder="请选择退款原因">
                    <el-option
                      v-for="item in reasonOptions" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>

                <el-input style="width:150px;" size="mini" v-model="currentOrderId" placeholder="订单编号"></el-input>

                <!-- 日期筛选 -->
                <el-date-picker clearable v-model="dateRange" size="mini" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions" format="yyyy-MM-dd" value-format="yyyy-MM-dd">
                </el-date-picker>
                
                <!-- 搜索按钮 -->
                <el-button type="primary" icon="el-icon-search" size="mini" @click="search">筛选</el-button>

                <!-- 下载按钮 -->
                <el-button v-if="opPer['/api/private/refund/list/exprot']" size="mini" type="primary" icon="el-icon-download" @click="download">下载</el-button>
            </div>


            <!-- 页面列表 -->
            <el-table
                :data="refundList"
                size="mini"
                style="width: 100%">

                <el-table-column prop="id" label="退款编号"></el-table-column>
                <el-table-column prop="orderId" label="订单ID"></el-table-column>
                <el-table-column prop="reasonDesc" label="退款原因描述"></el-table-column>
                <el-table-column label="退款金额(元)">
                    <template slot-scope="scope">
                        parseFloat(scope.row.amount/100)
                    </template>
                </el-table-column>
                <el-table-column prop="statusDesc" label="状态描述"></el-table-column>
                <el-table-column prop="msg" label="留言"></el-table-column>
                <el-table-column prop="createTime" label="创建时间"></el-table-column>
                <el-table-column prop="checkTime" label="审核时间"></el-table-column>
                <el-table-column prop="sysAdminNameCheck" label="审核人"></el-table-column>
                <el-table-column prop="refuntTime" label="退款时间"></el-table-column>
                <el-table-column prop="sysAdminNamePay" label="退款人"></el-table-column>

                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button v-if="scope.row.status == 1 && opPer['/api/private/refund/approved']" @click="check(scope.row.id, 2)" plain type="primary" size="mini">通过</el-button>
                        <el-button v-if="scope.row.status == 1 && opPer['/api/private/refund/approved']"  @click="check(scope.row.id, 4)" plain type="primary" size="mini">拒绝</el-button>
                        <el-button v-if="scope.row.status == 2 && opPer['/api/private/refund/back']"  @click="payback(scope.row.id)" plain type="danger" size="mini">退款</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页 -->
            <#include "common/pages2.html">
        </div>
    </div>    
</div>

<script src="/js/common/per.js"></script>
<script src="/js/refund.js"></script>
</body>
</html>