<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tp.admin.dao.SabisDao">
	
	<select id="findByTerId" parameterType="java.lang.Integer" resultMap="sabisMap">
		SELECT DISTINCT *
		FROM
			`sabis`
		WHERE
			ter_id = #{terId}
		AND 
			deleted = 0
	</select>
	
	<resultMap id="sabisMap" type="com.tp.admin.data.entity.Sabis">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="intros" property="intros" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="VARCHAR" />
		<result column="pay_price" property="payPrice" jdbcType="INTEGER" />
		<result column="ter_id" property="terId" jdbcType="INTEGER" />
		<result column="card_enable" property="cardEnable" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ticket_enable" property="ticketEnable" jdbcType="BIT" />
	</resultMap>
	
</mapper>